.GridPager table tbody tr {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}
}
.GridPager a,
.GridPager span {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.GridPager a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition : all 0.3s linear;
}

    .GridPager a:hover {
        background: #EAEAEA;
    }

    .GridPager span {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #000000;
        background-color: #fff;
        border: 1px solid #dee2e6;
    }
